@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Please click   <a nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Rsvp">here </a> to go to the Reservation Form </h1>
    <p> </p>
</div>
