@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>   <a nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Rsvp">Reservation Form</a></p>
</div>
